body {
  background-color: rgb(178, 70, 16);
  background-size: cover;
  align-items: center;
  display: -webkit-flex;
  justify-content: space-around;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
    }
    *, *:before, *:after {box-sizing: inherit; }

 .backgr {
  top:0%;
  position:absolute;
  left:0%;
  width:100%;
  height:100%;
  z-index:-1;
  opacity:0.15;
	
}

.coinsdiv {
  top:13%;
  left:50%;
  transform:translateX(-50%);
  position:absolute;
  width:100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

#cf {
  top:-30%;
  position:absolute;
  left:49.5%;
  transform:translateX(-50%);
}

#cf1 {
	  font-size:100%;
}

#cf2 {
  top:10px;
  position:absolute;
}

#cf3 {
  top:10px;
  position:absolute;
}

.coin {
  border-radius: 50%;
  border: 1.5px solid rgb(178, 70, 16);
  background-color: gold;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex; 
  cursor:pointer;
}

.coin:hover {
  filter:brightness(1.07);
  transition: 0.3s;
}

.coin1 {
  height: 3rem;
  width: 3rem;
}

.coin2 {
  height: 3.4rem;
  width: 3.4rem;
}

.coin3 {
  height: 4rem;
  width: 4rem;
}

.fall {
  z-index:-1;
}

.dec1 {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.1rem dotted;
  font: italic bold 17px/30px Georgia, serif;
}

.dec2 {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem dotted;
  margin: 3px;
  font: italic bold 23px/30px Georgia, serif;
}

.dec3 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0.1rem dotted;
  margin: 3px;
  font: italic bold 24px/30px Georgia, serif;

}

.machine {
  position: absolute;
  height: 50%;
  width: 14rem;
  border: 5px solid black;
  background-color: #CD853F;
  border-radius:25px; 
  top:50%;
  left:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}  

.cost {
  position: absolute;
  top:5%;
  left:14%;
  border: 3px solid black;
  height: 35px;
  width: 60px;
  display: inline-block;
  display: flex;
  align-items: center;
  text-align: center;
  background-color:white;
  justify-content: center;
  border-radius:10px;
  -webkit-transform:translateX(-20%);
  -moz-transform:translateX(-20%);
}

.cost,.budget,.card {
  background:#FFF3B2;
}

.descr1 {
  position: absolute;
  top:8%;
  left:41%;
  align-items: center;
  text-align: left;
  width:50px;
}

.descr2 {
  position: absolute;
  top:20%;
  left:41%;
  align-items: center;
  text-align: left;
  width:50px;
}

.block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 3%;
}

.displaydiv {
  margin: 7%;
}

.budget {
  position: absolute;
  top:17%;
  left:14%;
  border: 3px solid black;
  height: 35px;
  width: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius:10px;
  transform:translateX(-20%);
}

.reset {
  border: 3px solid black;
  position:relative;
  right:-5%;
  cursor: pointer;
}

.resetcost {
  position: absolute;
  top:8%;
  left:66%;
  border-radius:9px;
}

.resetbudg {
  position: absolute;
  top:20%;
  left:66%;
  border-radius:9px;
}

.add {
  position: absolute;
  top:75%;
  left:2%;
  text-align: center;
  border: 3px solid black;
  margin: 3%;
  border-radius:9px;
  cursor: pointer;
}

.addimg {
  position: absolute;
  top:78%;
  left:25%;
}

input, button {
  background: brown;
  font-weight:500;
  border-radius: 15%;
}

input, button:focus {
  outline: none;
}

input, button:active {
  background-color: black;
  color:brown;
  font-weight:500;
}

button:disabled {
  color:black;
  opacity:0.3;
}

.buydiv {
  position: absolute;
  top:85%;
  left:2%;
  align-items: center;
  text-align: center;
}

.buy {
  position: absolute;
  top:83%;
  left:2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  height: 10%;
  width: 35%;
  margin: 3%;
  border-radius: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;  
}

.listnames {  
  text-align: center; 
}

form>ul>li {
  width: 100px;
}

table { 
  font-size: 1em;
  width:200px;
  justify-content: center;
  align-items: center;
  display: flex;  
  padding:0px;  
  -moz-transform: translatex(5%) translatey(65%);
  -webkit-transform: translatex(5%) translatey(65%);
 
}

.check[type="checkbox"]:before{
  position: relative;         
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  content: "";
  background:  #CD853F;
  display: blcok;
} 

.check[type="checkbox"]:after{
  position: relative;
  background-color: transparent; 
  background-image:  url('../images/coff.png');
  background-size: 13px 13px;
  top:-12px;
  left:-70%;
  display: block;
  width: 100%;
  height: 100%;
  border-radius:50%;
  content:"";
  cursor: pointer;
}

.check[type="checkbox"]:checked:after{   
  height:15px;
  width:15px;
  // background-image:  url('../images/coff.png');
  background-size: 13px 13px;
  background-color: #FFF3B2; 
  background-repeat: no-repeat;
  background-position: center;
}

.tokens {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: white;
height: 35px;
width: 70px;
}

.carddiv {
position: absolute;
right:2%;
top:85%;
height:12%;
width:40%;
}

.card {
display: flex;
align-items: center;
text-align: center; 
height: 20px;
width: 70px;   
margin: 5%;
border:3px solid;
border-radius: 10px;
}

.cardtext {
  position: absolute;
  right:2%;
  top:-12%;
}

.cardamount {
  position: absolute;
  right:2%;
  bottom:-10%;
  display: flex;
  justify-content: center;
}

.inl {
  display:inline;
}

.coin:active {
  -webkit-transform:translateY(1%);
  -moz-transform:translateY(1%);
}

.descr {
  position:absolute; 
  text-align:center; 
  bottom:-20%;
  font-weight:600; 
  font-size:1.7rem;
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  width: 400%;
}






@media only screen and (min-width: 115px) and (max-width: 320px) {

  .coinsdiv {
    position: absolute;
    left:50%;
    top:4%;
    -moz-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%);
    height:75%;
    max-height: 350px;
    width:80%;
  }


  .machine {
      position: absolute;
      left:50%;
      top:55%;
      transform: translateX(-50%) translateY(-50%);
      height:71%;
      max-height: 350px;
    }

   .buydiv {
      position: absolute;
      left:2%;
      bottom:1%;
    }

    .carddiv {
      position: absolute;
      right:3%;
      bottom:2%;
    }

    .descr {
      position:absolute;
      bottom:-16%;
      left:50%;
      width:16em;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      font-size:1.2rem;
    }
    
}









@media only screen and (max-width: 320px) and (max-height: 448px) {

  .coinsdiv {
    position: absolute;
    left:50%;
    top:0.5%;
    -moz-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%);
    height:75%;
    max-height: 350px;
    width:80%;
  }


  .machine {
    top:62%;
    height:85%;
  }

  table {
    -moz-transform: translateX(5%) translateY(49%);
    -webkit-transform: translateX(5%) translateY(49%);
}

}










@media only screen and (min-width: 321px) and (max-width: 767px) {

  .coinsdiv {
    position: absolute;
    left:50%;
    top:0%;
    -moz-transform: translateX(-50%) translateY(0%)  scale(0.8);
    -webkit-transform: translateX(-50%) translateY(0%)  scale(0.8);
    height:71%;
    max-height: 350px;
    width:80%;
  }

  .machine {
    position: absolute;
    height: 85%;
    width: 14rem;
    border: 5px solid black;
    background-color: #CD853F;
    border-radius:25px; 
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-40%) scale(0.8);
  }  

 .buydiv {
    position: absolute;
    left:2%;
    bottom:1%;
  }

  .carddiv {
    position: absolute;
    right:3%;
    bottom:2%;
  }

  .descr {
    position:absolute;
    bottom:-16%;
    left:50%;
    width:16em;
   -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size:1.2rem;
  }
  

}










@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .coinsdiv {
    position: absolute;
    left:50%;
    top:20%;
    -moz-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%) scale(1.6);
    height:71%;
    max-height: 350px;
    width:40%;
  }

  .machine {
    position: absolute;
    height: 23rem;
    width: 14rem;
    border: 5px solid black;
    background-color: #CD853F;
    border-radius:25px; 
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.6);
  }  

  .buydiv {
    position: absolute;
    left:2%;
    bottom:1%;
  }

  .carddiv {
    position: absolute;
    right:3%;
    bottom:2%;
  }

  .descr {
    position:absolute;
    bottom:-16%;
    left:50%;
    width:16em;
   -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size:1.2rem;
  }

}




@media only screen and (min-height: 0px) and (max-height: 644px) and (min-width: 1024px) {

  .coinsdiv {
    top:5%;
  }

.machine {
    position: absolute;
    height: 21rem;
    width: 14rem;
    border: 5px solid black;
    background-color: #CD853F;
    border-radius:25px; 
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  }  

}