:root {
  background-color: rgb(178, 70, 16);
  background-size: cover;
  min-height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  z-index:;
    }
    *, *:before, *:after {box-sizing: inherit; }

 .backgr {
  top:0%;
  position:absolute;
  left:0%;
  width:100%;
  height:100%;
  z-index:-1;
  opacity:0.2;
		
}
	
.coinsdiv {
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

#cf {
  top:-35%;
  position:absolute;
  left:49.5%;
  transform:translateX(-50%);
}

#cf1 {
	  font-size:100%;
}

#cf2 {
  top:10px;
  position:absolute;
}

#cf3 {
  top:10px;
  position:absolute;
}

.coin {
  border-radius: 50%;
  border: 1.5px solid rgb(178, 70, 16);
  background-color: gold;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex; 
}

.coin:hover {
  filter:brightness(1.07);
}

.coin1 {
  height: 3rem;
  width: 3rem;
}

.coin2 {
  height: 3.4rem;
  width: 3.4rem;
}

.coin3 {
  height: 4rem;
  width: 4rem;
}

.fall {
  z-index:-1;
}

.dec1 {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.1rem dotted;
  font: italic bold 17px/30px Georgia, serif;
}

.dec2 {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem dotted;
  margin: 3px;
  font: italic bold 23px/30px Georgia, serif;
}

.dec3 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0.1rem dotted;
  margin: 3px;
  font: italic bold 24px/30px Georgia, serif;

}

.machine { 
  height: 100%;
  width: 14rem;
  border: 5px solid black;
  background-color: #CD853F;
  border-radius:25px; 
}  

.cost {
  border: 3px solid black;
  height: 40px;
  width: 50px;
  background-color:white;
  justify-content: center;
  border-radius:10%;
  transform:translateX(-20%);
}

.cost,.budget,.card {
  background:#FFF3B2;
}

.descr1 {
  display: inline-block;
  display: flex;
  align-items: center;
  text-align: center;
  width:50px;
}

.descr2 {
  display: block;
  display: flex;
  align-items: center;
  text-align: center;
  width:50px;
}

.block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 3%;
}

.displaydiv {
  margin: 7%;
}

.budget {
  display: flex;
  border: 3px solid black;
  height: 40px;
  width: 50px;
  justify-content: center;
  border-radius:10%;
  transform:translateX(-20%);
}

.reset {
  background-color:;
  border: 3px solid black;
  position:relative;
  right:-5%;
}

.add {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  border: 3px solid black;
  margin: 3%;
}

input, button {
  background: brown;
  font-weight:500;
  border-radius: 15%;
}

input, button:focus {
  outline: none;
}

input, button:active {
  background-color: black;
  color:brown;
  font-weight:500;
}

button:disabled {
  color:black;
  opacity:0.7;
}

.buydiv {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  height: 35px;
  width: 80px;
  margin: 3%;
  border-radius: 12%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;  
}

.listnames {  
  text-align: center; 
}

form>ul>li {
  width: 100px;
}

table { 
  width:200px;
  justify-content: center;
  align-items: center;
  display: flex;  
  padding:0px;  
}

.check[type="checkbox"]:before{
    position: relative;         
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid transparent;
    content: "";
    background:  #CD853F;
} 

.check[type="checkbox"]:after{
    position: relative;
	background-color: transparent; 
    background-image:  url('../images/coff.png');
    background-size: 13px 13px;
    top:-12px;
    left:-70%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius:50%;
    content:"";
}

.check[type="checkbox"]:checked:after{   
    height:15px;
    width:15px;
    background-image:  url('../images/coff.png');
    background-size: 13px 13px;
    background-color: #FFF3B2; 
    background-repeat: no-repeat;
    background-position: center;
}

.tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 35px;
  width: 70px;
}

.carddiv {
  position:relative;
}

.card {
  display: flex;
  align-items: center;
  text-align: center; 
  height: 20px;
  width: 70px;   
  margin: 5%;
  border:3px solid;
  border-radius: 10%;
}
.cardinl {
  display: inline;
  float: right;
}

.inl {
  display:inline;
}

.coin:active {
  transform:translateY(1%);
}

.descr {
  position:absolute; 
  text-align:center; 
  top:80%; 
  font-weight:600; 
  font-size:1.7rem;
}
